<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LogInForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="dbcs" connectionString="Data Source=DESKTOP-81FOA3J\SQLEXPRESS;Initial Catalog=LOGIN_DB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CustomerMilkDataEntitiesCS" connectionString="metadata=res://*/Model.CustomerMilkData.csdl|res://*/Model.CustomerMilkData.ssdl|res://*/Model.CustomerMilkData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-81FOA3J\SQLEXPRESS;initial catalog=LOGIN_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="CustomerMilkDataEntities" connectionString="metadata=res://*/Model.CustomerMilkDataModel.csdl|res://*/Model.CustomerMilkDataModel.ssdl|res://*/Model.CustomerMilkDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-81FOA3J\SQLEXPRESS;initial catalog=LOGIN_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="LogInForm.Properties.Settings.LOGIN_DBConnectionString"
      connectionString="Data Source=DESKTOP-81FOA3J\SQLEXPRESS;Initial Catalog=LOGIN_DB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <LogInForm.Properties.Settings>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
    </LogInForm.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>